# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# `netlify dev` will pick env variables from `.env` but not from `.env.local`.
# There might be a way to configure it but I couldn't find it, so I'll just use
# `.env`.
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development Netlify stuff
.netlify
